<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

    <p>Se não tiver conta, <a href="{% url 'artigos:registro' %}">registre-se aqui</a>.</p>
    <p>Esqueceu sua senha? <a href="{% url 'artigos:password_reset' %}">Recupere aqui</a>.</p>
    <p>Para continuar sem login <a href="{% url 'artigos:artigos' %}">clique aqui</a>.</p>
</body>
</html>
